@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Inter', sans-serif;
}

.font-sora{
  font-family: "Sora",sans-serif!important;
}

.navbar-side{
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

.shadow-1 {
  --tw-shadow: 0px 10px 10px -5px rgba(29,30,32,.05),0px 10px 25px -5px rgba(29,30,32,.1);
  --tw-shadow-colored: 0px 10px 10px -5px var(--tw-shadow-color),0px 10px 25px -5px var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 10px -5px #1d1e200d, 0 10px 25px -5px #1d1e201a;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.container-class {
  width: 100%;
}

@media only screen and (min-width: 460px){
  .container-class {
    width: 430px;
  }
}

@media only screen and (min-width: 640px){
  .container-class {
    width: 610px;
  }
}

@media only screen and (min-width: 768px){
  .container-class {
    width: 730px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-class {
    width: 990px;
  }
}


@media only screen and (min-width: 1280px) {
  .container-class {
    width: 1140px;
  }
}



@media only screen and (min-width: 1536px) {
  .container-class {
    width: 1140px;
  }
}
@media only screen and (min-width: 1536px) {
  .container-background {
    width: 1140px;
  }
}